<header class="main-header">
  <div class="container header-content">
    <a href="/" class="logo-link">
      <img src="/assets/images/appicon.png" srcset="/assets/images/appicon.png 1x, /assets/images/appicon@2x.png 2x" width="40" height="40" alt="InTransit Logo"/>
      <span class="site-title">InTransit</span>
    </a>
    <nav class="header-nav">
      <ul>
        <li><a href="/blog">Blog</a></li>
        <li><a href="mailto:support@intransit.app">Support</a></li>
      </ul>
    </nav>
  </div>
</header>
