<!DOCTYPE html>
<html lang="en-IN" prefix="og: https://ogp.me/ns#">
{% include 'head.njk' %}
<body class="home">
  {% include 'header.njk' %}
  <main>
    {{ content | safe }}
  </main>
  {% include 'footer.njk' %}
  <script type="text/javascript" src="{{ "/assets/scripts/home.js" | absolute_url }}"></script>
</body>
</html>
