<!DOCTYPE html>
<html lang="en-IN">
{%- include "head.njk" -%}
<body class="blog">
  {%- include "header.njk" -%}
  <main>
    <hr />
    <div class="container readable">
      <article class="page-content no-style"> 
        <h2>{{ title | escape }}</h2>
        <p><small>{{ date }}</small></p>
        {%- if bannerImage -%}
          <picture id="post-banner">
            <source media="(max-width: 600px)" srcset="{{ bannerImage | append: '-400w.png' | absolute_url }} 1x, {{ bannerImage | append: '-800w.png' | absolute_url }} 2x, {{ bannerImage | append: '-1600w.png' | absolute_url }} 3x">
            <source media="(min-width: 601px) and (max-width: 800px)" srcset="{{ bannerImage | append: '-800w.png' | absolute_url }} 1x, {{ bannerImage | append: '-1600w.png' | absolute_url }} 2x, {{ bannerImage | append: '@3x.png' | absolute_url }} 3x">
            <img src="{{ bannerImage | append: '.png' | absolute_url }}" srcset="{{ bannerImage | append: '@2x.png' | absolute_url }} 2x, {{ bannerImage | append: '@3x.png' | absolute_url }} 3x"/>
          </picture>
        {%- endif -%}
        {%- if bannerImageWebP -%}
          <picture id="post-banner">
            <source media="(max-width: 600px)" srcset="{{ bannerImageWebP | append: '-400w.webp' | absolute_url }} 1x, {{ bannerImageWebP | append: '-800w.webp' | absolute_url }} 2x, {{ bannerImageWebP | append: '-1600w.webp' | absolute_url }} 3x">
            <source media="(min-width: 601px) and (max-width: 800px)" srcset="{{ bannerImageWebP | append: '-800w.webp' | absolute_url }} 1x, {{ bannerImageWebP | append: '-1600w.webp' | absolute_url }} 2x, {{ bannerImageWebP | append: '@3x.webp' | absolute_url }} 3x">
            <img src="{{ bannerImageWebP | append: '.webp' | absolute_url }}" srcset="{{ bannerImageWebP | append: '@2x.webp' | absolute_url }} 2x, {{ bannerImageWebP | append: '@3x.webp' | absolute_url }} 3x"/>
          </picture>
        {%- endif -%}
        <div class="article-content">
          {{ content }}
        </div>
      </article>

      <section class="page-post-content">
        <a href="#" onclick="window.history.back();">Back</a>
      </section>
    </div>
  </main>

  <div class="container readable">
    {%- include "footer.njk" -%}
  </div>
</body>
</html>
